<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage.ejs</title>
</head>

<body>
    <h1>hello duy nhan </h1>
</body>

</html>